 .u-section-1 {
  background-image: url("images/73117323-grunge-luz-gris-de-la-textura-de-baldosas-de-piedra-de-mrmol-patrn-natural-nica-verdadera.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 980px;
}

.u-section-1 .u-text-1 {
  font-family: MagnoliaScript;
  font-size: 3.75rem;
  margin: 26px auto 0 43px;
}

.u-section-1 .u-text-2 {
  font-family: Amaranth-BoldItalic;
  font-size: 2.5rem;
  margin: -13px auto 0;
}

.u-section-1 .u-line-1 {
  height: 3px;
  margin-bottom: 0;
  margin-top: 18px;
  transform-origin: left center 0px;
}

.u-section-1 .u-image-1 {
  width: 196px;
  height: 269px;
  margin: 12px auto 0;
}

.u-section-1 .u-image-2 {
  width: 196px;
  height: 269px;
  margin: -269px auto 0 25px;
}

.u-section-1 .u-image-3 {
  width: 196px;
  height: 269px;
  margin: -269px auto 0 698px;
}

.u-section-1 .u-image-4 {
  width: 196px;
  height: 269px;
  margin: -269px auto 0 246px;
}

.u-section-1 .u-image-5 {
  width: 196px;
  height: 269px;
  margin: -269px auto 0 919px;
}

.u-section-1 .u-text-3 {
  font-family: Amaranth-BoldItalic;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: normal;
  text-align: start;
  margin: 0 1025px 0 25px;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  font-style: normal;
  text-align: start;
  font-weight: normal;
  font-family: Anaktoria;
  margin: -4px 919px 0 25px;
}

.u-section-1 .u-text-5 {
  font-family: Amaranth-BoldItalic;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: normal;
  text-align: start;
  margin: -46px 578px 0 472px;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  font-style: normal;
  text-align: start;
  font-weight: normal;
  font-family: Anaktoria;
  width: 196px;
  margin: -4px auto 0;
}

.u-section-1 .u-text-7 {
  font-family: Amaranth-BoldItalic;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: normal;
  text-align: start;
  margin: -46px 351px 0 698px;
}

.u-section-1 .u-text-8 {
  font-size: 1.125rem;
  font-style: normal;
  text-align: start;
  font-weight: normal;
  font-family: Anaktoria;
  margin: -4px 246px 0 698px;
}

.u-section-1 .u-text-9 {
  font-family: Amaranth-BoldItalic;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: normal;
  text-align: start;
  margin: -45px 804px 0 246px;
}

.u-section-1 .u-text-10 {
  font-size: 1.125rem;
  font-style: normal;
  text-align: start;
  font-weight: normal;
  font-family: Anaktoria;
  margin: -4px 698px 0 246px;
}

.u-section-1 .u-text-11 {
  font-family: Amaranth-BoldItalic;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: normal;
  text-align: start;
  margin: -46px 131px 0 919px;
}

.u-section-1 .u-text-12 {
  font-size: 1.125rem;
  font-style: normal;
  text-align: start;
  font-weight: normal;
  font-family: Anaktoria;
  margin: -4px 25px 0 919px;
}

.u-section-1 .u-text-13 {
  font-family: Amaranth-BoldItalic;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: normal;
  text-align: start;
  margin: -1px 578px 0 472px;
}

.u-section-1 .u-text-14 {
  font-family: Amaranth-BoldItalic;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: normal;
  text-align: start;
  margin: -16px 351px 0 698px;
}

.u-section-1 .u-text-15 {
  font-family: Amaranth-BoldItalic;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: normal;
  text-align: start;
  margin: -16px 1025px 0 25px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 1.5625rem;
  margin: -4px 25px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-16 {
  font-family: Amaranth-BoldItalic;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: normal;
  text-align: start;
  margin: -58px 131px 0 919px;
}

.u-section-1 .u-text-17 {
  font-family: Amaranth-BoldItalic;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: normal;
  text-align: start;
  margin: -16px 804px 0 246px;
}

.u-section-1 .u-text-18 {
  font-family: Amaranth-BoldItalic;
  text-align: start;
  font-size: 2.5rem;
  margin: 18px auto 0;
}

.u-section-1 .u-line-2 {
  height: 3px;
  margin-top: 18px;
  transform-origin: left center 0px;
  text-align: start;
  margin-bottom: 0;
}

.u-section-1 .u-image-6 {
  width: 196px;
  height: 269px;
  text-align: start;
  margin: 9px auto 0 698px;
}

.u-section-1 .u-image-7 {
  width: 196px;
  height: 269px;
  text-align: start;
  margin: -269px auto 0 919px;
}

.u-section-1 .u-image-8 {
  width: 196px;
  height: 269px;
  text-align: start;
  margin: -269px auto 0;
}

.u-section-1 .u-image-9 {
  width: 196px;
  height: 269px;
  text-align: start;
  margin: -268px auto 0 25px;
}

.u-section-1 .u-image-10 {
  width: 196px;
  height: 269px;
  text-align: start;
  margin: -269px auto 0 246px;
}

.u-section-1 .u-text-19 {
  font-family: Amaranth-BoldItalic;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: normal;
  text-align: start;
  margin: -1px 131px 0 919px;
}

.u-section-1 .u-text-20 {
  font-size: 1.125rem;
  font-style: normal;
  text-align: start;
  font-weight: normal;
  font-family: Anaktoria;
  margin: -4px 25px 0 919px;
}

.u-section-1 .u-text-21 {
  font-family: Amaranth-BoldItalic;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: normal;
  text-align: start;
  margin: -46px 577px 0 472px;
}

.u-section-1 .u-text-22 {
  font-size: 1.125rem;
  font-style: normal;
  text-align: start;
  font-weight: normal;
  font-family: Anaktoria;
  width: 196px;
  margin: -4px auto 0;
}

.u-section-1 .u-text-23 {
  font-family: Amaranth-BoldItalic;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: normal;
  text-align: start;
  margin: -45px 1025px 0 25px;
}

.u-section-1 .u-text-24 {
  font-size: 1.125rem;
  font-style: normal;
  text-align: start;
  font-weight: normal;
  font-family: Anaktoria;
  margin: -4px 919px 0 25px;
}

.u-section-1 .u-text-25 {
  font-family: Amaranth-BoldItalic;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: normal;
  text-align: start;
  margin: -45px 804px 0 246px;
}

.u-section-1 .u-text-26 {
  font-size: 1.125rem;
  font-style: normal;
  text-align: start;
  font-weight: normal;
  font-family: Anaktoria;
  margin: -4px 698px 0 246px;
}

.u-section-1 .u-text-27 {
  font-family: Amaranth-BoldItalic;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: normal;
  text-align: start;
  margin: -45px 351px 0 698px;
}

.u-section-1 .u-text-28 {
  font-size: 1.125rem;
  font-style: normal;
  text-align: start;
  font-weight: normal;
  font-family: Anaktoria;
  margin: -4px 246px 0 698px;
}

.u-section-1 .u-text-29 {
  font-family: Amaranth-BoldItalic;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: normal;
  text-align: start;
  margin: -2px 131px 0 919px;
}

.u-section-1 .u-text-30 {
  font-family: Amaranth-BoldItalic;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: normal;
  text-align: start;
  margin: -16px 577px 0 472px;
}

.u-section-1 .u-text-31 {
  font-family: Amaranth-BoldItalic;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: normal;
  text-align: start;
  margin: -16px 1025px 0 25px;
}

.u-section-1 .u-text-32 {
  font-family: Amaranth-BoldItalic;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: normal;
  text-align: start;
  margin: -15px 804px 0 246px;
}

.u-section-1 .u-text-33 {
  font-family: Amaranth-BoldItalic;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: normal;
  text-align: start;
  margin: -15px 351px 0 698px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 1.5625rem;
  margin: -2px 25px 21px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 808px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 744px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 850px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 744px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 478px;
    margin-left: 372px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 251px;
    margin-left: 598px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 146px;
    margin-left: 598px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 704px;
    margin-left: 146px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 598px;
    margin-left: 146px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 31px;
    margin-left: 819px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 819px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 478px;
    margin-left: 372px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 251px;
    margin-left: 598px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 850px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 31px;
    margin-left: 819px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 704px;
    margin-left: 146px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 744px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 31px;
    margin-left: 819px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
    margin-left: 819px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 477px;
    margin-left: 372px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 850px;
    margin-left: 0;
  }

  .u-section-1 .u-text-24 {
    margin-right: 744px;
    margin-left: 0;
  }

  .u-section-1 .u-text-25 {
    margin-right: 704px;
    margin-left: 146px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 598px;
    margin-left: 146px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 251px;
    margin-left: 598px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 146px;
    margin-left: 598px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 31px;
    margin-left: 819px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 477px;
    margin-left: 372px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 850px;
    margin-left: 0;
  }

  .u-section-1 .u-text-32 {
    margin-right: 704px;
    margin-left: 146px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 251px;
    margin-left: 598px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 524px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 524px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 630px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 524px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 368px;
    margin-left: 262px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 141px;
    margin-left: 488px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 36px;
    margin-left: 488px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -17px;
    margin-right: 594px;
    margin-left: 36px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 488px;
    margin-left: 36px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -74px;
    margin-right: 0;
    margin-left: 630px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 630px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 368px;
    margin-left: 262px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 141px;
    margin-left: 488px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 630px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 52px;
  }

  .u-section-1 .u-text-16 {
    margin-top: -114px;
    margin-right: 0;
    margin-left: 630px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 594px;
    margin-left: 36px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 524px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 524px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
    margin-left: 630px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 630px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 367px;
    margin-left: 262px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 630px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 524px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 594px;
    margin-left: 36px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 488px;
    margin-left: 36px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 141px;
    margin-left: 488px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 36px;
    margin-left: 488px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 0;
    margin-left: 630px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 367px;
    margin-left: 262px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 630px;
  }

  .u-section-1 .u-text-32 {
    margin-right: 594px;
    margin-left: 36px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 141px;
    margin-left: 488px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 344px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 344px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 450px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 344px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 278px;
    margin-left: 172px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 51px;
    margin-left: 398px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 398px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 450px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 344px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-left: 450px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 450px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 278px;
    margin-left: 172px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 51px;
    margin-left: 398px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 450px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 450px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 450px;
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    margin-left: 344px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 344px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 450px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 450px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 277px;
    margin-left: 172px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 450px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 344px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 450px;
    margin-left: 0;
  }

  .u-section-1 .u-text-26 {
    margin-right: 344px;
    margin-left: 0;
  }

  .u-section-1 .u-text-27 {
    margin-right: 51px;
    margin-left: 398px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 0;
    margin-left: 398px;
  }

  .u-section-1 .u-text-29 {
    margin-left: 450px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 277px;
    margin-left: 172px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 450px;
  }

  .u-section-1 .u-text-32 {
    margin-right: 450px;
    margin-left: 0;
  }

  .u-section-1 .u-text-33 {
    margin-right: 51px;
    margin-left: 398px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 292px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-3 {
    margin-left: 144px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 144px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 144px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 28px;
    margin-right: 250px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 144px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -74px;
    margin-right: 178px;
    margin-left: 72px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 249px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 249px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 250px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 144px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 250px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 250px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 178px;
    margin-left: 72px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 249px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 250px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 62px;
  }

  .u-section-1 .u-text-16 {
    margin-top: -124px;
    margin-left: 250px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 250px;
  }

  .u-section-1 .u-text-18 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-6 {
    margin-left: 144px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 144px;
  }

  .u-section-1 .u-image-10 {
    margin-left: 144px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 250px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 250px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 177px;
    margin-left: 72px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 250px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 144px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 250px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 144px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 0;
    margin-left: 249px;
  }

  .u-section-1 .u-text-28 {
    margin-left: 249px;
  }

  .u-section-1 .u-text-29 {
    margin-left: 250px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 177px;
    margin-left: 72px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 250px;
  }

  .u-section-1 .u-text-32 {
    margin-right: 250px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 0;
    margin-left: 249px;
  }
}@font-face {
  font-family: 'MagnoliaScript';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MagnoliaScript.otf);
}@font-face {
  font-family: 'Amaranth-BoldItalic';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Amaranth-BoldItalic.ttf);
}@font-face {
  font-family: 'Anaktoria';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Anaktoria.otf);
}